<!DOCTYPE html>
<html>
<head>
<title>Kiln Sensor App</title>
    <link rel="stylesheet" type="text" href="/static/css/main.css">
</head>
<body>
  <h2 class="title">Caribou Creek Kilns</h2>
  <h1> Kiln-1 </h1>
  <p1 class='temp'>Temperature - <strong>{{reading1.temperature}} F</strong> <br/></p1>
  <br/>
  <p2 class="humid">Humidity - <strong>{{reading1.humidity}} %</strong> <br/></p2>
  <br/>
  <p> Absolute Humidity - {{ah1}} grams/m3</p>
  <p3 class='timest'>Time Stamp: {{reading1.timestamp}} <br/> </p3>

  <br/>
  <h1> Kiln-2 </h1>
  <p1 class="temp">Temperature - <strong>{{reading2.temperature}} F</strong> <br/></p1>
  <br/>
  <p2 class="humid">Humidity - <strong>{{reading2.humidity}} %</strong> <br/></p2>
  <br/>
  <p> Absolute Humidity - {{ah2}} grams/m3</p>
  <p3 class='timest'>Time Stamp: {{reading2.timestamp}}</p3>

  <h2> Current Conditions Outside </h2>
  <p> Temperature - {{current_conditions.outside_temp}} F</p>
  <p> Humidity - {{current_conditions.outside_humid}} %</p>
  <p> Pressure - {{current_conditions.atmospheric_pressure}} Hectopascals</p>
</body>
</html>
