{% extends "dashboard/base.html" %}

{% block main %}


  <h2><a href="/kiln/1/"><span class='badge badge-primary'>Kiln - 1 </span></a><span class='badge badge-secondary'>Day {{daynum1}}</span></h2>

  <table class="charts-css line" id="my-chart">

  <tbody>
    <tr>
      <td style="--start: 0.2; --size: 0.4"> <span class="data"> $ 40K </span> </td>
    </tr>
    <tr>
      <td style="--start: 0.4; --size: 0.8"> <span class="data"> $ 80K </span> </td>
    </tr>
    <tr>
      <td style="--start: 0.8; --size: 0.6"> <span class="data"> $ 60K </span> </td>
    </tr>
    <tr>
      <td style="--start: 0.6; --size: 1.0"> <span class="data"> $ 100K </span> </td>
    </tr>
    <tr>
      <td style="--start: 1.0; --size: 0.3"> <span class="data"> $ 30K </span> </td>
    </tr>
  </tbody>

</table>

  <table class="table table-striped shadow-lg p-3 mb-5 bg-white rounded">
    <thead>
      <tr style="text-align: center;">

        <th>What Job is Cooking?</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Time Stamp</th>

      </tr>
    </thead>
    <tbody>

    <tr style="text-align: center;">
      <td>{{reading1.load.job}}</td>
      <td>{{reading1.temperature}} F</td>
      <td>{{reading1.humidity}} %</td>
      <td>{{reading1.timestamp}}</td>
    </tr>

      <tr style="text-align: center;">
        <td class='font-weight-bold'>24HR TREND ->> </td>
        {% if trend.kiln1.temperature > 0 %}
          <td class='text-success'>{{trend.kiln1.temperature}} F</td>
        {% elif trend.kiln1.temperature > -10  %}
            <td class='text-warning'>{{trend.kiln1.temperature}} F</td>
        {% else %}
            <td class='text-danger'>{{trend.kiln1.temperature}} F</td>
        {%endif%}

        {% if trend.kiln1.humidity < 0 %}
          <td class='text-success'>{{trend.kiln1.humidity}} %</td>
        {%else%}
          <td class='text-warning'>{{trend.kiln1.humidity}} %</td>
        {%endif%}

        <td>##</td>

      </tr>

    </tbody>
  </table>

  <h2><a href='kiln/2/'><span class='badge badge-primary'>Kiln - 2 </span></a><span class='badge badge-secondary'>Day {{daynum2}}</span></h2>

  <table class="table table-striped shadow-lg p-3 mb-5 bg-white rounded">
    <thead>
      <tr style="text-align: center;">

        <th>What Job is Cooking?</th>

        <th>Temperature</th>
        <th>Humidity</th>

        <th>Time Stamp</th>

      </tr>
    </thead>
    <tbody>

    <tr style="text-align: center;">
      <td>{{reading2.load.job}}</td>
      <td>{{reading2.temperature}} F</td>
      <td>{{reading2.humidity}} %</td>

        <td>{{reading2.timestamp}}</td>

    </tr>
    <tr style="text-align: center;">
      <td class='font-weight-bold'>24HR TREND ->> </td>
      {% if trend.kiln2.temperature > 0 %}
        <td class='text-success'>{{trend.kiln2.temperature}} F</td>
      {% elif trend.kiln2.temperature > -10  %}
        <td class='text-warning'>{{trend.kiln2.temperature}} F</td>
      {% else %}
        <td class='text-danger'>{{trend.kiln2.temperature}} F</td>

      {%endif%}

      {% if trend.kiln2.humidity < 0 %}
        <td class='text-success'>{{trend.kiln2.humidity}} %</td>
      {%else%}
        <td class='text-warning'>{{trend.kiln2.humidity}} %</td>
      {%endif%}

      <td>##</td>

    </tr>

    </tbody>
  </table>

<h4><span class='badge badge-info'>Outside Conditions </span></h4>
<table class="table table-striped shadow-lg p-3 mb-5 bg-white rounded">
  <thead>
    <tr style="text-align: center;">

      <th>Temperature</th>
      <th>Humidity</th>


    </tr>
  </thead>
  <tbody>

  <tr style="text-align: center;">

    <td>{{current_conditions.outside_temp}} F</td>
    <td>{{current_conditions.outside_humid}} %</td>


  </tr>

  </tbody>
</table>
{% endblock %}
