{% extends "dashboard/base.html" %}

{% block main %}
  <p class="lead">Kilns  <i style="color: orange;" title='Edit' class="fas fa-stream"></i></p>
  <br>
  <br>
  <p class="lead">Kiln1</p>
  <table class="table table-striped">
    <thead>
      <tr style="text-align: center;">

        <th>Start Date</th>

        <th>Temperature</th>
        <th>Humidity</th>
        <th>Abslute Humidity</th>
        <th>Time Stamp</th>

      </tr>
    </thead>
    <tbody>

    <tr style="text-align: center;">
      <td>{{reading1.load.startdate}}</td>
      <td>{{reading1.temperature}} F</td>
      <td>{{reading1.humidity}} %</td>
      <td>{{ah1}} grams/m3</td>
      <td>{{reading1.timestamp}}</td>

    </tr>

    </tbody>
  </table>

  <br>
  <br>
  <p class="lead">Kiln2</p>
  <table class="table table-striped">
    <thead>
      <tr style="text-align: center;">

        <th>Start Date</th>

        <th>Temperature</th>
        <th>Humidity</th>
        <th>Abslute Humidity</th>
        <th>Time Stamp</th>

      </tr>
    </thead>
    <tbody>

    <tr style="text-align: center;">
      <td>{{reading2.load.startdate}}</td>
      <td>{{reading2.temperature}} F</td>
      <td>{{reading2.humidity}} %</td>
      <td>{{ah2}} grams/m3</td>
      <td>{{reading2.timestamp}}</td>

    </tr>

    </tbody>
  </table>

<br>
<br>
<p class="lead">Current Conditions Outside</p>
<table class="table table-striped">
  <thead>
    <tr style="text-align: center;">

      <th>Temperature</th>
      <th>Humidity</th>


    </tr>
  </thead>
  <tbody>

  <tr style="text-align: center;">

    <td>{{current_conditions.outside_temp}} F</td>
    <td>{{current_conditions.outside_humid}} %</td>


  </tr>

  </tbody>
</table>
{% endblock %}
