{% extends "dashboard/base.html" %}

{% block main %}
  <!-- <p class="lead">Kilns  <i style="color: orange;" title='Edit' class="fas fa-stream"></i></p> -->
  <h2><span class='badge badge-primary'>Kiln - 1 </span><span class='badge badge-secondary'>In {{daynum1}} Days</span></h2>
  <table class="table table-striped shadow-lg p-3 mb-5 bg-white rounded">
    <thead>
      <tr style="text-align: center;">

        <th>What Job is Cooking?</th>

        <th>Temperature</th>
        <th>Humidity</th>
        <th>Absolute Humidity</th>
        <th>Time Stamp</th>

      </tr>
    </thead>
    <tbody>

    <tr style="text-align: center;">
      <td>{{reading1.load.job}}</td>
      <td>{{reading1.temperature}} F</td>
      <td>{{reading1.humidity}} %</td>
      {% if ah1 < 15 %}
        <td>{{ah1}} grams/m3 <span class='badge badge-success'>This Wood Is Dry!</span></td>
        {%elif ah1 < 20 %}
          <td>{{ah1}} grams/m3 <span class='badge badge-warning'>Almost Dry</span></td>
      {%else%}
        <td>{{ah1}} grams/m3 </td>
      {%endif%}

      <td>{{reading1.timestamp}}</td>

      <tr style="text-align: center;">
        <td class='font-weight-bold'>24HR TREND ->> </td>
        {% if trend.kiln1.temperature > 0 %}
          <td class='text-success'>{{trend.kiln1.temperature}} F</td>
        {%else%}
          <td class='text-warning'>{{trend.kiln1.temperature}} F</td>
        {%endif%}

        {% if trend.kiln1.humidity < 0 %}
          <td class='text-success'>{{trend.kiln1.humidity}} %</td>
        {%else%}
          <td class='text-warning'>{{trend.kiln1.humidity}} %</td>
        {%endif%}

        {% if trend.kiln1.ahumidity < 0 %}
          <td class='text-success'>{{trend.kiln1.ahumidity}} grams/m3</td>
        {%else%}
          <td class='text-warning'>{{trend.kiln1.ahumidity}} grams/m3</td>
        {%endif%}
        <td>##</td>

      </tr>

    </tbody>
  </table>

  <h2><span class='badge badge-primary'>Kiln - 2 </span><span class='badge badge-secondary'>In {{daynum2}} Days</span></h2>
  <table class="table table-striped shadow-lg p-3 mb-5 bg-white rounded">
    <thead>
      <tr style="text-align: center;">

        <th>What Job is Cooking?</th>

        <th>Temperature</th>
        <th>Humidity</th>
        <th>Absolute Humidity</th>
        <th>Time Stamp</th>

      </tr>
    </thead>
    <tbody>

    <tr style="text-align: center;">
      <td>{{reading2.load.job}}</td>
      <td>{{reading2.temperature}} F</td>
      <td>{{reading2.humidity}} %</td>
      {% if ah2 < 15 %}
          <td>{{ah2}} grams/m3 <span class='badge badge-success'>This Wood Is Dry!</span></td>
        {%elif ah2 < 20 %}
          <td>{{ah2}} grams/m3 <span class='badge badge-warning'>Almost Dry</span></td>
        {%else%}
          <td>{{ah2}} grams/m3 </td>
        {%endif%}
        <td>{{reading2.timestamp}}</td>

    </tr>
    <tr style="text-align: center;">
      <td class='font-weight-bold'>24HR TREND ->> </td>
      {% if trend.kiln2.temperature > 0 %}
        <td class='text-success'>{{trend.kiln2.temperature}} F</td>
      {%else%}
        <td class='text-warning'>{{trend.kiln2.temperature}} F</td>
      {%endif%}

      {% if trend.kiln2.humidity < 0 %}
        <td class='text-success'>{{trend.kiln2.humidity}} %</td>
      {%else%}
        <td class='text-warning'>{{trend.kiln2.humidity}} %</td>
      {%endif%}

      {% if trend.kiln2.ahumidity < 0 %}
        <td class='text-success'>{{trend.kiln2.ahumidity}} grams/m3</td>
      {%else%}
        <td class='text-warning'>{{trend.kiln2.ahumidity}} grams/m3</td>
      {%endif%}
      <td>##</td>

    </tr>

    </tbody>
  </table>

<h4><span class='badge badge-info'>Outside Conditions </span></h4>
<table class="table table-striped shadow-lg p-3 mb-5 bg-white rounded">
  <thead>
    <tr style="text-align: center;">

      <th>Temperature</th>
      <th>Humidity</th>


    </tr>
  </thead>
  <tbody>

  <tr style="text-align: center;">

    <td>{{current_conditions.outside_temp}} F</td>
    <td>{{current_conditions.outside_humid}} %</td>


  </tr>

  </tbody>
</table>
{% endblock %}
