{% extends "dashboard/base_dev.html" %}

{% block main %}

<div class='flex-box-cards' style='width: 100%; padding-top: 100px;'>
  <div class='card'>
      <div class="card-flex-item">
        <div class="card-item"><h1>Kiln 1</h1></div>
        {% if kiln1_data_old %}
        <div class='card-item' style="color: red;">Last Online -  {{reading1.timestamp}} <i class="fas fa-exclamation"></i> </div>
        {% else %}
        <div class='card-item' style="color: #41B3A3;;">Last Online -  {{reading1.timestamp}} <i class="fas fa-check-circle"></i> </div>
        {% endif%}
      </div>
      <div class="card-flex-item">

        <div class="card-item"><h4>{{reading1.load.job}}</h4> </div>
        <div class="card-item"><h4>Day {{daynum1}}</h4> </div>
      </div>
      <div class="card-flex-item">
        <div class="card-item" style=" background: #E27D60;">
          <div style=" text-align: center"><strong>Temperature</strong></div>
          <div style=" text-align: center"><h2>{{reading1.temperature|floatformat:0}} F</h2></div>
        </div>
        <div class="card-item" style=" background: #41B3A3;">
          <div style=" text-align: center"><strong>Humidity</strong></div>
          <div style=" text-align: center"><h2>{{reading1.humidity|floatformat:0}} %</h2></div>
        </div>
      </div>
      <div class="card-flex-item">
        <div class="card-item" style=" background: #E27D60;">
          <div style=" text-align: center">24hr Trend</div>
          {% if trend.kiln1.temperature > 0 %}
          <div style=" text-align: center"><h2> <i class="fas fa-arrow-up"></i> {{trend.kiln1.temperature}} F</h2></div>
          {% else%}
          <div style=" text-align: center"><h2> <i class="fas fa-arrow-down"></i> {{trend.kiln1.temperature}} F</h2></div>
          {% endif %}
        </div>
        <div class="card-item" style=" background: #41B3A3;">
          <div style=" text-align: center">24hr Trend</div>
          {% if trend.kiln1.humidity > 0 %}
          <div style=" text-align: center"><h2><i class="fas fa-arrow-up"></i> {{trend.kiln1.humidity}} %</h2></div>
          {% else %}
          <div style=" text-align: center"><h2><i class="fas fa-arrow-down"></i> {{trend.kiln1.humidity}} %</h2></div>
          {% endif %}
        </div>
      </div>


  </div>
  <div class='card'>
      <div class="card-flex-item">
        <div class="card-item"><h1>Kiln 2</h1></div>
        {% if kiln2_data_old %}
        <div class='card-item' style="color: red;">Last Online -  {{reading2.timestamp}} <i class="fas fa-exclamation"></i> </div>
        {% else %}
        <div class='card-item' style="color: #41B3A3;;">Last Online -  {{reading2.timestamp}} <i class="fas fa-check-circle"></i> </div>
        {% endif%}
      </div>
      <div class="card-flex-item">

        <div class="card-item"><h4>{{reading2.load.job}}</h4> </div>
        <div class="card-item"><h4>Day {{daynum2}}</h4> </div>
      </div>
      <div class="card-flex-item">
        <div class="card-item" style=" background: #E27D60;">
          <div style=" text-align: center"><strong>Temperature</strong></div>
          <div style=" text-align: center"><h2>{{reading2.temperature|floatformat:0}} F</h2></div>
        </div>
        <div class="card-item" style=" background: #41B3A3;">
          <div style=" text-align: center"><strong>Humidity</strong></div>
          <div style=" text-align: center"><h2>{{reading2.humidity|floatformat:0}} %</h2></div>
        </div>
      </div>
      <div class="card-flex-item">
        <div class="card-item" style=" background: #E27D60;">
          <div style=" text-align: center">24hr Trend</div>
          {% if trend.kiln2.temperature > 0 %}
          <div style=" text-align: center"><h2> <i class="fas fa-arrow-up"></i> {{trend.kiln2.temperature}} F</h2></div>
          {% else%}
          <div style=" text-align: center"><h2> <i class="fas fa-arrow-down"></i> {{trend.kiln2.temperature}} F</h2></div>
          {% endif %}
        </div>
        <div class="card-item" style=" background: #41B3A3;">
          <div style=" text-align: center">24hr Trend</div>
          {% if trend.kiln2.humidity > 0 %}
          <div style=" text-align: center"><h2><i class="fas fa-arrow-up"></i> {{trend.kiln2.humidity}} %</h2></div>
          {% else %}
          <div style=" text-align: center"><h2><i class="fas fa-arrow-down"></i> {{trend.kiln2.humidity}} %</h2></div>
          {% endif %}
        </div>
      </div>


  </div>

</div>
{% endblock %}
